@import '../../../scss/variables';

.buyers {
	display: flex;
	flex-direction: column;
	width: 15%;
}
.buyersTitle {
	font-weight: 800;
	margin-bottom: 23px;
}
.buyersLink {
	color: $special-text;
	font-family: $itemsFont;
	margin-bottom: 8px;
	font-size: 12px;
	border-bottom: 1px solid transparent;
	transition: $transition;
	&:hover {
		border-bottom: 1px solid $special-text;
	}
}
