@import '../../scss/variables';

.container {
	max-width: $container-width;
	margin: 0 auto;
}
.footer {
	background-color: #fff;
}
.footerTopWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 24px 0;
	font-family: $itemsFont;
}

.company,
.buyers,
.service,
.contacts {
	width: 20%;
}
